@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
  background-color: #0d0f0d; /* dark background */
  /* ❌ ye hata do:
  background-image: radial-gradient(rgba(0, 255, 0, 0.5) 1px, transparent 1px);
  background-size: 20px 20px;
  background-position: center; */
}

